<!-- Без FormBuilder -->
<!-- <div class="container">
  <form [formGroup]="contactsForm">
    <input class="input" type="text" placeholder="City" formControlName="city">
    <input class="input" type="text" placeholder="Street" formControlName="street">
    <input class="input" type="text" placeholder="Apartment" formControlName="apartment">
    <div formArrayName="phoneArray" *ngFor="let phone of phoneArray().controls; index as i">
      <input class="input" placeholder="Phone number" type="tel"  [formControlName]="i">
    </div>
    
    <button class="btn" (click)="addNewPhone()">Add phone</button>
    <button class="btn" (click)="onSubmit()">Submit</button>
  </form>
</div> -->

<!-- С FormBuilder -->
<app-second></app-second>